<div class="row container-fluid  mx-auto my-3 featurette backg">	
	<div  class="col-sm-7 ">
		<mat-tab-group animationDuration="0ms">
		  	<mat-tab  label="Book Your Trip">
		  		<i class="fa fa-suitcase" aria-hidden="true"></i> Book with a clear conscience thanks to the price forecast!<br>
		  		<i class="fa fa-check" aria-hidden="true"></i> Connect with travel agents.<br>
				<i class="fa fa-check" aria-hidden="true"></i> Confirm your travel dates.<br>
				<i class="fa fa-check" aria-hidden="true"></i> Pay for your trip.
		  	</mat-tab>
		  	<mat-tab label="Trusted Services">
		  		<i class="fa fa-handshake-o" aria-hidden="true"></i> We will exceed your expectations!<br>
		  		<i class="fa fa-check" aria-hidden="true"></i> Verified personal profiles.<br> 
				<i class="fa fa-check" aria-hidden="true"></i> Communicate with other users. directly with smart messaging<br> 
				<i class="fa fa-check" aria-hidden="true"></i> Guaranteed secure payments, collects, and transfers.
			</mat-tab>
		  	<mat-tab label="24/7 Support">
		  		<i class="fa fa-handshake-o" aria-hidden="true"></i> 24/7 Customer service interactions and improve user experiences!<br>
		  		<i class="fa fa-check" aria-hidden="true"></i> If you need help, our customer support team is always available.<br> 
		  		<i class="fa fa-check" aria-hidden="true"></i> No matter what time.<br>  
		  		<i class="fa fa-check" aria-hidden="true"></i> No matter where you are in the world.
		  	</mat-tab>
		  	<mat-tab label="Insurance">
		  		<i class="fa fa-user" aria-hidden="true"> </i> Don´t forget to buy a travel insurance!<br>
		  		<i class="fa fa-check" aria-hidden="true"></i> We offer for you the best insurance prices for your travel security<br> 
		  		<i class="fa fa-check" aria-hidden="true"></i> World-class travel insurance<br> 
		  		<i class="fa fa-check" aria-hidden="true"></i> Our core plan offers premium emergency medical cover.<br> 
		  		<i class="fa fa-check" aria-hidden="true"></i> You can upgrade to include non-medical and trip cancellation cover too.
		  	</mat-tab>
		</mat-tab-group>
	</div>
	<div  class="col-sm-5 text-center">
		<p class ="featurette-heading font-italic" >We care about your 
			<span  class="text-info">trip 
				<i class="fa fa-smile-o ml-2" aria-hidden="true"></i>
			</span>
		</p>
		<img class ="rounded-circle featurette-image img-responsive  text-align-right" src="/assets/img/about.png" alt="Generic image">
	</div>
</div>


